<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="/bower_components/core-field/core-field.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-fab/paper-fab.html">

<polymer-element name="avatar-submit" attributes="message">
    <template>
        <style>
            paper-fab {
                background: #259b24;
            }
        </style>
        <core-ajax id="ajax" method="POST"
                   url="http://localhost:9090/avatar"
                   contentType="application/json"
                   on-core-response="{{succeeded}}"
                   on-core-error="{{errorOccurred}}"
                   handleAs="json">
        </core-ajax>
        <core-field>
            <paper-input id="candidate" name="candidate" value="{{candidate}}"
                         label="Candidate for new avatar" floatingLabel autofocus></paper-input>
        </core-field>
        <core-field>
            <paper-input id="candidateEmail" name="candidateEmail" value="{{candidateEmail}}"
                         type="email" error="Input is not an email!"
                         label="Candidate email for new avatar" floatingLabel></paper-input>
            <paper-fab icon="create" raisedButton on-tap="{{submitAvatar}}"></paper-fab>
        </core-field>
    </template>
    <script>
    Polymer({
        submitAvatar: function () {
            this.$.ajax.xhrArgs = {body: JSON.stringify({candidate: this.candidate, candidateEmail: this.candidateEmail})};
            this.$.ajax.go();
            this.candidate = '';
            this.candidateEmail = '';
        },
        succeeded: function() {
            this.message = {
                type: 'success',
                text: 'Candidate for new avatar was saved successfully.',
                timestamp: new Date().getTime()
            }
        },
        errorOccurred: function(e) {
            this.message = {
                type: 'error',
                text: 'status: ' + e.detail.xhr.status + ', ' + e.detail.xhr.statusText,
                timestamp: new Date().getTime()
            }
        }
    });
    </script>
</polymer-element>
