<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<script type="text/javascript" src="/bower_components/sockjs/sockjs.js"></script>
<script type="text/javascript" src="/bower_components/vertxbus/vertxbus.js"></script>

<polymer-element name="suggestion-service" attributes="avatarId suggestions">
  <template>
    <core-ajax id="ajaxList" method="GET"
               url="http://localhost:9090/suggestions"
               on-core-response="{{suggestionsLoaded}}"
               on-core-error="{{errorOccurred}}"
               contentType="application/json"
               handleAs="json">
    </core-ajax>
  </template>
  <script>
    Polymer({
      ready: function () {
        var self = this;
        self.suggestions = [];

        var eb = new vertx.EventBus('http://localhost:9090/avatar/voting');
        eb.onopen = function() {
          eb.registerHandler('suggestion', function(suggested) {
            var exist = false;
            self.suggestions.forEach(function(item) {
                if (item.name === suggested.name) {
                    item.votes = suggested.votes;
                    exist = true;
                }
            });

            if (!exist) {
                self.suggestions.splice(0, 0, suggested);
            }
          });
        };

        this.$.ajaxList.param = { avatarId: this.avatarId };
        this.$.ajaxList.go();
      },
      suggestionsLoaded: function () {
        this.suggestions = this.$.ajaxList.response.slice(0);
      },
      errorOccurred: function(e) {
        this.message = {
            type: 'error',
            text: 'status: ' + e.detail.xhr.status + ', ' + e.detail.xhr.statusText,
            timestamp: new Date().getTime()
        }
      }
    });
  </script>
</polymer-element>
