<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="/bower_components/vertx-eventbus/vertx-eventbus.html">

<polymer-element name="suggestion-service" attributes="message avatarId voterId suggestions">
  <template>
    <core-ajax id="ajaxList" method="GET"
               url="http://localhost:9090/suggestions"
               on-core-response="{{suggestionsLoaded}}"
               on-core-error="{{errorOccurred}}"
               handleAs="json">
    </core-ajax>
    <vertx-eventbus id="eventBus"
                    auto
                    url="http://localhost:9090/avatar/voting"
                    registerHandlers="{{registerHandlers}}"
                    reconnectIntervalSeconds="10"
                    on-open="{{onOpen}}"
                    on-close="{{onClose}}"
                    on-error="{{onError}}">
    </vertx-eventbus>
  </template>
  <script>
    Polymer({
      self: null,
      ready: function () {
        self = this;
        this.suggestions = [];

        this.$.ajaxList.params = JSON.stringify({avatarId: this.avatarId});
        this.$.ajaxList.go();
      },
      onOpen: function() {
        this.message = {
            type: 'info',
            text: 'Connected to the server',
            timestamp: new Date().getTime()
        }
      },

      onClose: function() {
        this.message = {
            type: 'error',
            text: 'Disconnected from the server',
            timestamp: new Date().getTime()
        }
      },

      onError: function() {
        console.log('called error event');
      },

      registerHandlers: [
        {address: 'suggestion', handler: function(suggested) {
            var suggestion = JSON.parse(suggested);
            suggestion.thumbType = suggestion.voters.indexOf(this.voterId) > -1;
            self.suggestions.forEach(function(item) {
                if (item.id === suggestion.id) {
                    suggestion.voted = item.voters.length < suggestion.voters.length;
                    suggestion.exist = true;
                    item.voters = suggestion.voters;
                    item.suggesterId = suggestion.suggesterId;
                    item.suggesterEmail = suggestion.suggesterEmail;
                    item.thumbType = (item.voters.indexOf(self.voterId) > -1) ? 'thumb-down': 'thumb-up';
                }
            });

            var msgText = '\'' + suggestion.name + '\' was ' + (suggestion.voted ? 'endorsed':'unvoted') + '.';
            if (!suggestion.exist) {
                self.suggestions.splice(0, 0, suggestion);
                msgText = '\'' + suggestion.name + '\' was added by ' + suggestion.suggesterEmail + '.';
            }

            self.message = {
                type: 'info',
                text: msgText,
                timestamp: new Date().getTime()
            }
        }}
      ],

      suggestionsLoaded: function () {
        this.suggestions = this.$.ajaxList.response.slice(0);
        this.suggestions.forEach(function(item) {
            item.thumbType = 'thumb-up';
        });
      },
      errorOccurred: function(e) {
        this.message = {
            type: 'error',
            text: 'status: ' + e.detail.xhr.status + ', ' + e.detail.xhr.statusText,
            timestamp: new Date().getTime()
        }
      }
    });
  </script>
</polymer-element>
