<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="/bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="/components/suggestion-service.html">

<polymer-element name="suggestion-list" attributes="message avatarId voterId">
  <template>
    <style>
        core-icon-button.thumb-down /deep/ core-icon[role=img] {
            margin-left: 20px;
            color: #990000;
        }
        core-icon-button.thumb-up /deep/ core-icon[role=img] {
            margin-left: 20px;
            color: #9999ff;
        }
        ul li {
            font-weight: bold;
        }
    </style>
    <core-ajax id="ajax" method="POST"
               url="http://localhost:9090/vote"
               on-core-response="{{done}}"
               on-core-error="{{errorOccurred}}"
               handleAs="json">
    </core-ajax>
    <suggestion-service id="service" message="{{message}}" avatarId="{{avatarId}}" voterId="{{voterId}}" suggestions="{{suggestions}}">
    </suggestion-service>
    <ul>
      <template id="suggestionsTemplate" repeat="{{suggestion in suggestions}}">
        <li>{{suggestion.name}} ({{suggestion.voters.length}})
            <core-icon-button class="{{suggestion.thumbType}}" icon="{{suggestion.thumbType}}"
                              title="{{suggestion.thumbType}}" on-tap="{{submitVote}}"
                              data-suggestion="{{suggestion.id}}"></core-icon-button>
            </template>
        </li>
      </template>
    </ul>
  </template>
  <script>
    Polymer({
        submitVote: function () {
            this.$.ajax.xhrArgs = {body: JSON.stringify({
                avatarId: this.avatarId, voterId: this.voterId, suggestionId: parseInt(event.currentTarget.attributes['data-suggestion'].value)})};
            this.$.ajax.go();
        },
        errorOccurred: function(e) {
            this.message = {
                type: 'error',
                text: 'status: ' + e.detail.xhr.status + ', ' + e.detail.xhr.statusText,
                timestamp: new Date().getTime()
            }
        },
        done: function () {
            console.log('done');
        }
    });
  </script>
</polymer-element>
